.home {
  // background-image: url(../../assits/bg.png);
  // background-repeat: no-repeat;
  // background-position: right;
  // background-position-y: 0%;
  font-family: "Montserrat", sans-serif;

  color: #0f0e0eb2;
  .home-wrapper {
    display: flex;
    flex-direction: row-reverse;
    .right-side {
      img {
        height: 100vh;
      }
    }
    .left-side {
      padding: 12em;

      .title {
        font-size: 48px;
        font-family: "Montserrat", sans-serif;
        color: #a15a64;
      }
      p {
        font-size: 28px;
        span {
          color: #db2727;
        }
      }
      .games {
        display: flex;
        border: 1px solid black;
        width: 50vw;
        padding: 10px 0;
        .game {
          cursor: pointer;
          display: flex;
          flex-direction: row-reverse;
          margin: 0 25px;

          .game-name {
            width: 100px;
            margin: 0 5px;
          }
          img {
            height: 30px;
            width: 30px;
          }
        }
      }
      .button {
        button {
          cursor: pointer;
          font-family: "Montserrat", sans-serif;
          color: #db2727;
          font-size: 24px;
          background: transparent;
          border: 1px solid #db2727;
          border-radius: 50px;
          margin-top: 30px;
          margin-left: 40%;
          padding: 10px 20px;

          &:hover {
            color: white;
            background-color: #db2727;
          }
        }
      }
    }
  }
}
